* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

body {
  background: #333; }

#todos-app {
  margin-top: 50px; }
  #todos-app h1 {
    padding-bottom: 20px;
    font-size: 5rem;
    letter-spacing: -3px;
    color: #fff; }
    #todos-app h1 span {
      color: #fbb6b6; }
  #todos-app ul.todo-item {
    list-style: none;
    margin-top: 20px; }
    #todos-app ul.todo-item li {
      padding: 20px; }
    #todos-app ul.todo-item input.checked {
      width: auto;
      padding: 10px;
      display: inline-block;
      margin-right: 20px;
      border: 0; }
  #todos-app button.btn-danger {
    height: 60px;
    background-color: #d9534f; }
  #todos-app input.form-control {
    background: #333;
    color: #fff;
    height: 60px;
    padding: 10px;
    border-left: 8px solid #d9534f;
    border-top: 8px solid #d9534f;
    border-bottom: 8px solid #d9534f; }
  #todos-app input[type=checkbox] {
    background: red; }
  #todos-app .alert-success {
    background: none;
    border-bottom: dashed 1px #ccc;
    color: #ccc;
    vertical-align: center;
    padding-bottom: 10px;
    border-radius: 0px; }
    #todos-app .alert-success input {
      background: #333; }
  #todos-app .ng-binding {
    padding-left: 100px; }
  #todos-app .clear-btn {
    margin-top: 50px;
    padding: 15px;
    background: #fff; }
    #todos-app .clear-btn :hover {
      background: #d9534f; }
  #todos-app .done {
    text-decoration: line-through;
    color: #ccc; }
